<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="/form.css">
    </header>
    <body>
        <div class="container-form">
            <form method="post" action="/new">
                <label for="user">Enter your name:</label>
                <input required name="user" id="name" type="text">
                <label for="text">Enter your message</label>
                <input  required name="text" id="message" type="text">
                <button type="submit">Send</button>
            </form>
        </div>
    </body>

</html>