<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/header.css" />
    <link rel="stylesheet" href="/messageHistory.css" />
    <link rel="stylesheet" href="/home.css">
  </head>
  <body>
    <%-include("header")%> 
    <div class="container-messages">
      <%-include("messageHistory")%>
    </div>
  </body>
</html>
