
            <% messages.forEach(message =>{%>
                <div class="container-message">
                    <h3>User: <%=message.user%></h3>
                    <p><%=message.text%></p>
                    <p>Date added: <%=message.added %></p>
                </div>
            <%})%>
        
